@charset "utf-8";
body { background:url(babyBg.jpg) no-repeat center top #fff; }
.banner { height:200px; }
.babyWrap { width:960px; margin:0 auto; padding:10px 16px; background:#fff; }
.babyNav { height:35px; border-bottom:6px solid #fff1f6; background:#55c6c0; }
.babyNav ul li { float:left; height:35px; border-right:1px solid #a8e2df; line-height:35px; }
.babyNav ul li a { display:block; padding:0 25px; color:#fff; }
.babyNav ul .current { height:31px; border-bottom:4px solid #fb87ae; line-height:31px; }
.babyNav ul .o { float:right; background:#e95378; }

.bodyPic { overflow:hidden; }
.bodyPic .item { float:left; width:226px; height:268px; margin:0 6px 30px; border:1px solid #e4e4e4; display:inline; }
.bodyPic .item .pic { width:226px; height:156px; margin-bottom:15px; overflow:hidden; text-align:center; }
.bodyPic .item .txt { padding:0 9px; color:#999; line-height:22px; }
.bodyPic .item .txt h3 { color:#333; font-size:16px; font-weight:100; line-height:26px; }

.page { padding-bottom:20px; line-height:20px; text-align:center; }
.page a { display:inline-block; padding:0 8px; border:1px solid #e6e6e6; }
.page .current { background:#a1a1a1; color:#fff; }

.tit { height:50px; margin-bottom:20px; }

.baby { margin-bottom:20px; padding:10px; border:1px solid #e6e6e6; overflow:hidden; }
.baby .left { float:left; width:200px; }
.baby .right { float:right; width:720px; height:320px; }
.baby .left .t { height:75px; text-align:center; }
.baby .left ul { padding:10px 8px; border-bottom:1px solid #ebebeb; }
.baby .left li { color:#fca019; line-height:26px; }
.baby .left .info { padding:10px 8px; color:#696969; line-height:26px; }
